<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="hello1.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="first">
        <img src="assets//logo1.jpg"id="img1" >
        <div id="fir"><p>Google Reviews</p></div>
        <div id="img2"><img src="assets//Facebook.png" id="img2">
        </div>
        <div id="img3"><img src="assets//Instagram-02.png" id="img2">
        </div>
        <div id="img4"><img src="assets//YouTube.png" id="img2">
        </div>
        <div id="sec">
            <p><a href="http://127.0.0.1:5500/other%20pages/loan.html" style="text-decoration: none; "><p id="loan">Loans/Schlorships</p></a> </p>
        </div>
        <!-- <div id="three">
            <p>login</p>
        </div> -->
        <div id="f">
            <p>Admission/Registration</p>
        </div>
    </div>
    <div id="second">
            
        <div id="s1">
            <p id="p1"><a href="http://127.0.0.1:5500/other%20pages/home.html" style="text-decoration: none; color: white;">Home</a> </p> 
        </div>
        <div id="s1">
            <p id="p1"><a href="http://127.0.0.1:5500/other%20pages/course1.html" style="text-decoration: none; color: white;">Courses</a></p>
          </div>
          <div id="s1">
            <p id="p1"><a href="http://127.0.0.1:5500/other%20pages/instructions.html" style="text-decoration: none; color: white;"> Free test </a></p>
          </div>
          <!-- <div id="s1">
            <p id="p1"> Placement</p>
          </div> -->
          <div id="s1">
            <p id="p1"><a href="http://127.0.0.1:5500/other%20pages/about_us.html" style="text-decoration: none; color: white;"> About Us </a></p>
          </div>
          <div id="s1">
            <p id="p1"> <a href="http://127.0.0.1:5500/other%20pages/career.html" style="text-decoration: none; color: white;"> opportunity </a> </p>
          </div>
          <div id="s1" style="width: 150px;">
            <p id="p1"> <a href=" http://localhost:4200/"  style="text-decoration: none; color: white;"> Contact Us </a> </p>
          </div>
    </div>
    <!-- <img src="assets//contact.jpg" alt="contact Us" style="width: 100%; height: 700px; margin-top: 120px; margin-bottom: 50px;left: 0;"> -->
    <h1>Feel Free To Contact Us For More Details</h1><br>
    <!-- <div id="callingmsg">
        <div id="calling_fir">
            <div id="call_pic">
                <img src="assets//Mobile.png" alt="Mobile">
            </div>
            <div id="num">
                <p>(+91)9793254550</p>
                <p>(+91)7845502458</p>
                <p>(+91)7894562547</p>
            </div>
        </div>
        <div id="message">
            <div id="msg_pic">
                <img src="assets//Email.png" alt="Mobile">
            </div>
            <div id="txt">
                <p><strong>Email</strong></p>
                <p>director@smarteducation.in</p>
            </div>
        </div>
    </div> -->
    <div id="front" style="margin-left: 450px;margin-top: 100px">
        <h1>Feel Free To Contact Us For More Details</h1>
        <!-- <P>We have multiple branches throughout the state. We are always happy to help.</P> -->
        <div id="about">
            <p>Our team will be very obliged for your feedback and will be looking forward to resolve your querries </p>
        </div>
    </div>
    <div id="fir_line">
        <div class="test_1">
            <div class="flipper">
              <div id="f1">
                <img src="assets//face1.png" alt="Pic">
                <p class="make_bold">Saundra R. Johnson</p>
              </div>
              <div class="back" style="margin-top: 50px;">
                <p>M.A. in English, B.Ed.</p>
                <p><b>Specialization:</b> Creative Thinking, Vocabulary</p>
                <p><b>Experience in teaching:</b> 6 Years</p>
              </div>
            </div>
          
        </div>
        
        <div class="test_1">
            <div class="flipper">
              <div id="f1">
                <img src="assets//face2.jpg" alt="Pic">
                <p class="make_bold">Mauli sarkar</p>
              </div>
              <div class="back" style="margin-top: 50px;">
                <p>B.Sc. in Zoology</p>
            <p><b>Specialization:</b>Grammar, Corporate Etiquette</p>
            <p><b>Experience in teaching:</b>5 Years</p>
              </div>
            </div>
        </div>
        <div class="test_1">
            <div class="flipper">
              <div id="f1">
                <img src="assets//face3.jpg" alt="Pic">
            <p class="make_bold">Anindita Mitra</p>
              </div>
              <div class="back" style="margin-top: 50px;">
                <p>M.A. in Sociology, MBA(HR)</p>
            <p><b>Specialization:</b>HR Adiministrator & Academic Counsellor</p>
              </div>
            </div>
        </div>
        <div class="test_1">
            <div class="flipper">
              <div id="f1">
                <img src="assets//face4.webp" alt="Pic">
            <p class="make_bold">Aaron E. Gonzales</p>
              </div>
              <div class="back" style="margin-top: 50px;">
                <p>M.A. in Philosophy</p>
            <p><b>Specialization:</b>Child Pshychology</p>
            <p><b>Experience in teaching:</b>5 Years</p>
              </div>
            </div>
        </div>
    </div>
    
    
    <br>
    <div class="newcall" >
        <div class="kl">
            <img style="height: 50px;" src="assets//YouTube.png">
        <div><img style="height: 50px;" src="assets//Facebook.png"></div></div>

        <div>
     <button id="call">Request a callback</button>
    </div>
     <div id="yup">   
        <h3><p>© 2023 Smart Education, All Rights Reserved | Powered By iUdyog</p></h3>
  </div>
      </div>
    
</body>
</html>